/* stick */
.stick {
    --top: 50;
    --height: 16;
    background-color: var(--foreground);
    position: absolute;
    width: 2vw;
    height: calc(var(--height) * 1vh);
    top: calc(var(--top) * 1vh);
    transition: top 200ms;
}
.stick.left {
    left: 1vw;
}
.stick.right {
    right: 1vw;
}